<!DOCTYPE html>
<html >
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <link rel="stylesheet" type="text/css" href="search.css" />
</head>

<body ng-app="myApp"  >

<div ng-controller='myCtrl'>
  <p>Name: <input type="text" ng-model="name"></p>
  <!--<p ng-bind="name"></p>-->
<form ng-submit="addObject()">


  <p ><ul>
    <li class="task-item" ng-repeat="x in students | filter:name | orderBy:'city'">{{x}}<span class="done" ng-click='removeItem($index)'> x</span> </li>
    <!--x 를 누르면 removieItem function이 trigger 된다. parameter로 index값을 보내준다.-->
  </ul>
  <input type='text' ng-model='add'><button type="submit">Add Student!</button> <!--Add Student button을 누르면 addObject function이 trigger 된다.-->
   </p>
</form>

</div>
<script>
var app = angular.module("myApp",['ngAnimate']);

  app.controller('myCtrl',function($scope){
    $scope.students=[
      'JaeWon Kim',
      'Hyewon Kim',
      'MinYoung Lee',
      'Seungyong Lee'
    ];
    $scope.addObject = function(){
      $scope.students.push($scope.add);//ng-model 'add' 에들어온 값을 students array에 (push)더해라
    }
    $scope.removeItem = function(x){
      $scope.students.splice(x,1);//x위치 i.e index값에 있는 1개의값을 delete(splice)하라
    }
  });

</script>
</body>
</html>
